@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <header>
            <script src="~/Scripts/jquery-2.1.1.min.js"></script>
            <script src="~/Scripts/jquery-ui.min.js"></script>
            <script src="~/Scripts/Home.js"></script>
        </header>
        <main>
            <div class="container">

                <div class="main">
                    <form id="form_id" method="post" name="myform">
                        <label>User Name :</label>
                        <input type="text" name="username" id="username" />
                        <label>Password :</label>
                        <input type="password" name="password" id="password" />
                        <input type="button" value="Login" id="submit" onclick="validate()" />
                    </form>
                    <form id="form_2" method="post" name="myform2">
                        <label>User Name :</label>
                        <input type="text" name="username2" id="username2" required/>
                        <label>Password :</label>
                        <input type="text" name="password2" id="password2" required/>
                        <label>Email :</label>
                        <input type="text" name="email" id="email" required/>
                        <label>Confirm Email :</label>
                        <input type="text" name="emailConfirm" id="emailConfirm" required />
                        <input type="button" value="Create Account" id="createAccount" onclick="validate_form()" />
                    </form>
                </div>

            </div>
        </main>
        <footer>

        </footer>
    </body>

</html>