
html {
    background-color: lightgray;
    font-family: "Times New Roman", serif;
}

h1 {
    color: midnightblue;
}

h2 {
    
}

h3 {
    color: midnightblue;
}

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center; 
}

img {
    border: 1px solid darkgray;
}

li {
    list-style: none;
    padding-right: 40px;
}

table {
    margin-left: 235px;
    border: none;
}

td {
    padding: 8px;
    border: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: saddlebrown;
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 80%;
        display: block;
        
    }
}

@media only screen and (max-width: 624px) and (orientation: portrait) {
    body {
        font-size: 120%;
        background-color: #F4FFFD;
    }
    
    img {
        max-width: 25%;
    }
}

@media only screen and (max-width: 959px) and (orientation: portrait) {
    section h1 {
        font-size: 135%;
    }
    section h2 {
        font-size: 120%;
    }
    aside h2 {
        font-size: 120%;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
        background-color: #800000 !important;